@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr/>
        <div>
            <p class="display-5">This is a simple CRUD application created with ASP.NET Razor Pages.</p>
            <p class="display-5">Navigate to the <a asp-page="./Products/Index">Products</a> page to try it out!</p>
        </div>
    <hr/>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
